* {
    margin: 0;
    padding: 0;
    box-sizing: box-border;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

header h1 {
    font-weight: 700;
}

header nav {
    margin-top: 70px;
    background-color: black;
    color: #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
}

nav ul li {
    flex: 1 1 100%;
    cursor: pointer;
}

nav ul li a {
    display: block;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    font-size: 1.5rem;
}

.main {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    padding: 30px;
}

.main-card {
    border-radius: 10px;
}

.larger {
    background-color: rgb(183, 231, 183);
    padding: 20px;
}

.larger::selection {
    color: red;
}

.smaller {
    background-color: rgb(235, 235, 246);
    padding: 20px;
}

footer {
    background-color: #000;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 16px;
}